/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Fondo con imagen */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('foind.jpg'); /* Cambia 'fondo.jpg' por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Para que esté detrás del contenido */
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Estilo de los formularios */
.form-container {
    background-color:  rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000000;
}

.form-group input {
    width: 92%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
}

.form-group input:focus {
    border-color: #5597e3; /* Verde */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1f93c0;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #3177e8;
}

p {
    margin-top: 15px;
    color: #555;
}

a {
    color: #3348e9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

